<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />

    <link rel="stylesheet" href="~/CSS/style.css">

    <title>Site com Menu</title>

</head>

<body>
    <div class="botaoMenu">
        <details>
            <summary></summary>
            <nav class="menu">
                <a href="index.cshtml">Home</a>
                <a href="login.cshtml">Login</a>
                <a href="listas.cshtml">Listas</a>
                <a href="cadastros.cshtml">Cadastro</a>
                <a href="nos.cshtml">Sobre nós</a>
            </nav>
        </details>
    </div>
    <div class="conteudo">
        <h1>Você está na página Sobre nós</h1>
        <p>
            No entanto, não podemos esquecer que o início da atividade geral de formação de atitudes deve passar por modificações independentemente das diretrizes de desenvolvimento para o futuro.
        </p>
        <p>
            As experiências acumuladas demonstram que a necessidade de renovação processual pode nos levar a considerar a reestruturação das formas de ação.
        </p>
        <p>
            Pensando mais a longo prazo, a crescente influência da mídia facilita a criação dos conhecimentos estratégicos para atingir a excelência.
        </p>
    </div>



</body>

</html>